.navbar1 {
    background-color: #63a702;
    color: #802323;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    width:100%;
    margin: 0;
 
  
}

.navbar2 {
    background-color: #97f64f;
    color: #293acf;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
    width:100%;
    margin-left: 0;
    
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
    
    /* Add more styles as needed */
}

.navbar1 a{
    color: #802323;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin: 10px;
}

/* Style the search icon */
.search-icon {
   
    float: right;
}

.fa-search {
    font-family: FontAwesome;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    
}

/* Define styles for other links */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    border-bottom: 2px solid #fff;
}

.nav-item {
    margin-right: 20px;
    float: right;
  }

.topnav-left{
    float: left;
}

.topnav-right{
    float: right;
}


.centerd{
    position: absolute;
    top: 40%;
    right: 10%;
    transform: translate(-50% ,-50%);
    font-size: 6vw;
    font-family: "copperplate",fantasy;
    color: rgb(21, 21, 22);
   text-shadow: -1px 0 black, 0 1px black ,1px 0 black, 0 -1px black; 
}

/* Navbar.css */

  

  
 
  
  .nav-link {
    color: #0a853c;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .dropdown {
    position: relative;
    display: table-column;
  }
  
  
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2a430d;
    z-index: 8;
    min-width: 16px;
    padding: 20px;
  }
  
 
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /*  */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dropdown-content th, .dropdown-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dropdown-content th {
    background-color: #4CAF50;
    color: white;
  }
  
  .dropdown-content tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .dropdown-content tr:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Optional: Add styles for the arrow icon */
  .dropbtn::after {
     /* Unicode character for down arrow */
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dropdown-toggle:after {
    content: '▾';
  }
  